---------------------Run Configuration----------------------
URL=http://testapp.galenframework.com/
Name=Santiago Antonio
ClientName=Santiago Antonio
UserName=Galvakiedis
Password=password
UserAccount=Galva
amount=500
date=12.06.2019
ExpectedConditionsTimeoutSeconds=5
ImplicitlyWait=5
PageLoadTimeout=90
HeadlessMode=false